# Compiled class file
build/

# Jar
*.jar
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ Idea
.idea/*
!.idea/copyright/
!.idea/scopes/

# Gradle
.gradle/

# Custom
certs/
project.properties
*.puml
sonar.properties

# Node
node_modules/*
!node_modules/npm/
node_modules/npm/*
!node_modules/npm/node_modules/
node_modules/npm/node_modules/*
!node_modules/npm/node_modules/diff/
