<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-3level - %logger - %replace(%msg){'[\r\n]', ''}%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="org.mongodb.driver" level="WARNING" additivity="false" />
    <logger name="io.vertx" level="WARNING" additivity="false" />
    <logger name="io.netty" level="WARNING" additivity="false" />
</configuration>