name: Build and Test

on:
  push:
    tags: '*'
    branches-ignore:
      - 'renovate/**'
    paths-ignore:
      - 'docs/**'
      - 'README.md'
      - 'LICENSE'
      - '**.cml'
      - '.github/renovate.json'
  pull_request:

jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2.4.0
      - name: Gradle Wrapper Validation
        uses: gradle/wrapper-validation-action@v1.0.4
      - name: Build the project
        run: ./gradlew build
