name: Test

on: [ workflow_dispatch ]

jobs:
  Build:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3.0.2
        with:
          fetch-depth: 0
      - name: Gradle Wrapper Validation
        uses: gradle/wrapper-validation-action@v1.0.4
      - name: Setup JDK
        uses: actions/setup-java@v3.3.0
        with:
          distribution: 'temurin'
          java-version: '11'
      - name: Build
        uses: gradle/gradle-build-action@v2.1.5
        env:
          DRONE_CERT: ${{ secrets.DRONE_CERT }}
          ENDPOINT: ${{ secrets.ENDPOINT }}
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
          ROOT_CA: ${{ secrets.ROOT_CA }}
        with:
          arguments: build


#name: Build and Test
#
#on:
#  push:
#    branches:
#      - 'master'
#      - 'develop'
#      - 'feature/**'
#    tags-ignore:
#      - '**'
#    paths-ignore:
#      - 'docs/**'
#      - 'README.md'
#      - 'LICENSE'
#      - '**.cml'
#      - 'CHANGELOG.md'
#      - 'package-lock.json'
#      - '.github/renovate.json'
#  pull_request:
#
#jobs:
#  Build:
#    strategy:
#      matrix:
#        os: [windows-latest, ubuntu-latest]
#    runs-on: ${{ matrix.os }}
#    steps:
#      - name: Checkout the repository
#        uses: actions/checkout@v3.0.2
#        with:
#          fetch-depth: 0
#      - name: Gradle Wrapper Validation
#        uses: gradle/wrapper-validation-action@v1.0.4
#      - name: Setup JDK
#        uses: actions/setup-java@v3.3.0
#        with:
#          distribution: 'temurin'
#          java-version: '11'
#      - name: Build
#        uses: gradle/gradle-build-action@v2.1.5
#        env:
#          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
#        with:
#          arguments: build
#  Release:
#    if: github.ref_name == 'master'
#    needs: Build
#    runs-on: ubuntu-latest
#    steps:
#      - name: Checkout the repository
#        uses: actions/checkout@v3.0.2
#        with:
#          token: ${{ secrets.GH_TOKEN }}
#          fetch-depth: 0
#      - name: Import GPG
#        uses: crazy-max/ghaction-import-gpg@v4.4.0
#        with:
#          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
#          passphrase: ${{ secrets.GPG_PASSPHRASE }}
#          git_user_signingkey: true
#          git_commit_gpgsign: true
#      - name: Create artifacts
#        run: ./gradlew fatJar
#      - name: Publish Release
#        env:
#          GH_TOKEN: ${{ secrets.GH_TOKEN }}
#          GIT_COMMITTER_NAME: Mirko Felice
#          GIT_COMMITTER_EMAIL: mirko.felice@studio.unibo.it
#          GIT_AUTHOR_NAME: Mirko Felice
#          GIT_AUTHOR_EMAIL: mirko.felice@studio.unibo.it
#        run: |
#          npm install
#          npx semantic-release
