name: OpenAPI Validation

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
    paths:
      - 'user-application/src/main/resources/**.json'
      - '.github/workflows/openapi-validation.yml'
  pull_request:
  workflow_dispatch:

jobs:
  List-Files:
    runs-on: ubuntu-latest
    outputs:
      paths: ${{ steps.list-files.outputs.paths }}
    steps:
      - name: List files
        id: list-files
        uses: mirko-felice/list-files-action@v3.0.1
        with:
          repo: ${{ github.repository }}
          ref: ${{ github.ref }}
          path: "user-application/src/main/resources"
          ext: ".json"

  Validation:
    needs: List-Files
    strategy:
      fail-fast: false
      matrix:
        paths: ${{ fromJson(needs.List-Files.outputs.paths) }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2.4.0
      - name: Validate OpenAPI definition
        uses: char0n/swagger-editor-validate@v1.2.1
        with:
          definition-file: ${{ matrix.paths }}